{
  "manifest_version": 3,
  "version": "1.0",
  "name": "Base16 Theme",
  "theme": {
    "colors": {
      "frame": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "frame_inactive": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "toolbar": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "tab_background_inactive": [{{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}}],
      "tab_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "bookmark_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "ntp_background": [{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}],
      "ntp_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}],
      "omnibox_background": [{{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}}],
      "omnibox_text": [{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}]
    }
  }
}
