[global]
font = GeistMono Nerd Font 10
origin = top-right
offset = (8, 40)
width = (200, 300)
height = (0, 80)
scale = 0
min_icon_size = 0
max_icon_size = 32
padding = 8
horizontal_padding = 12
frame_width = 2
frame_color = "#{{base02-hex}}"
separator_color = frame
corner_radius = 6
enable_recursive_icon_lookup = true

[urgency_low]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"
frame_color = "#{{base02-hex}}"
timeout = 5

[urgency_normal]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"
frame_color = "#{{base0D-hex}}"
timeout = 10

[urgency_critical]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"
frame_color = "#{{base08-hex}}"
timeout = 0
