/* Standard GTK/Adwaita color overrides */
@define-color theme_bg_color #{{base01-hex}};
@define-color theme_fg_color #{{base05-hex}};
@define-color theme_base_color #{{base00-hex}};
@define-color theme_text_color #{{base05-hex}};
@define-color theme_selected_bg_color #{{base0D-hex}};
@define-color theme_selected_fg_color #{{base07-hex}};
@define-color borders #{{base02-hex}};
@define-color unfocused_borders #{{base02-hex}};
@define-color warning_color #{{base0A-hex}};
@define-color error_color #{{base08-hex}};
@define-color success_color #{{base0B-hex}};
@define-color link_color #{{base0D-hex}};
@define-color content_view_bg #{{base00-hex}};
@define-color insensitive_bg_color #{{base01-hex}};
@define-color insensitive_fg_color #{{base03-hex}};
@define-color tooltip_bg_color #{{base01-hex}};
@define-color tooltip_fg_color #{{base05-hex}};

@define-color borders_breeze #{{base02-hex}};
@define-color content_view_bg_breeze #{{base00-hex}};
@define-color error_color_backdrop_breeze #{{base08-hex}};
@define-color error_color_breeze #{{base08-hex}};
@define-color error_color_insensitive_backdrop_breeze #{{base03-hex}};
@define-color error_color_insensitive_breeze #{{base03-hex}};
@define-color insensitive_base_color_breeze #{{base01-hex}};
@define-color insensitive_base_fg_color_breeze #{{base03-hex}};
@define-color insensitive_bg_color_breeze #{{base01-hex}};
@define-color insensitive_borders_breeze #{{base02-hex}};
@define-color insensitive_fg_color_breeze #{{base03-hex}};
@define-color insensitive_selected_bg_color_breeze #{{base01-hex}};
@define-color insensitive_selected_fg_color_breeze #{{base03-hex}};
@define-color insensitive_unfocused_bg_color_breeze #{{base01-hex}};
@define-color insensitive_unfocused_fg_color_breeze #{{base03-hex}};
@define-color insensitive_unfocused_selected_bg_color_breeze #{{base01-hex}};
@define-color insensitive_unfocused_selected_fg_color_breeze #{{base03-hex}};
@define-color link_color_breeze #{{base0D-hex}};
@define-color link_visited_color_breeze #{{base0E-hex}};
@define-color success_color_backdrop_breeze #{{base0B-hex}};
@define-color success_color_breeze #{{base0B-hex}};
@define-color success_color_insensitive_backdrop_breeze #{{base03-hex}};
@define-color success_color_insensitive_breeze #{{base03-hex}};
@define-color theme_base_color_breeze #{{base00-hex}};
@define-color theme_bg_color_breeze #{{base01-hex}};
@define-color theme_button_background_backdrop_breeze #{{base02-hex}};
@define-color theme_button_background_backdrop_insensitive_breeze #{{base02-hex}};
@define-color theme_button_background_insensitive_breeze #{{base02-hex}};
@define-color theme_button_background_normal_breeze #{{base02-hex}};
@define-color theme_button_decoration_focus_backdrop_breeze #{{base0D-hex}};
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #{{base03-hex}};
@define-color theme_button_decoration_focus_breeze #{{base0D-hex}};
@define-color theme_button_decoration_focus_insensitive_breeze #{{base03-hex}};
@define-color theme_button_decoration_hover_backdrop_breeze #{{base0D-hex}};
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #{{base03-hex}};
@define-color theme_button_decoration_hover_breeze #{{base0D-hex}};
@define-color theme_button_decoration_hover_insensitive_breeze #{{base03-hex}};
@define-color theme_button_foreground_active_backdrop_breeze #{{base05-hex}};
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #{{base03-hex}};
@define-color theme_button_foreground_active_breeze #{{base07-hex}};
@define-color theme_button_foreground_active_insensitive_breeze #{{base03-hex}};
@define-color theme_button_foreground_backdrop_breeze #{{base05-hex}};
@define-color theme_button_foreground_backdrop_insensitive_breeze #{{base03-hex}};
@define-color theme_button_foreground_insensitive_breeze #{{base03-hex}};
@define-color theme_button_foreground_normal_breeze #{{base05-hex}};
@define-color theme_fg_color_breeze #{{base05-hex}};
@define-color theme_header_background_backdrop_breeze #{{base01-hex}};
@define-color theme_header_background_breeze #{{base01-hex}};
@define-color theme_header_background_light_breeze #{{base01-hex}};
@define-color theme_header_foreground_backdrop_breeze #{{base04-hex}};
@define-color theme_header_foreground_breeze #{{base05-hex}};
@define-color theme_header_foreground_insensitive_backdrop_breeze #{{base04-hex}};
@define-color theme_header_foreground_insensitive_breeze #{{base04-hex}};
@define-color theme_hovering_selected_bg_color_breeze #{{base0D-hex}};
@define-color theme_selected_bg_color_breeze #{{base0D-hex}};
@define-color theme_selected_fg_color_breeze #{{base07-hex}};
@define-color theme_text_color_breeze #{{base05-hex}};
@define-color theme_titlebar_background_backdrop_breeze #{{base01-hex}};
@define-color theme_titlebar_background_breeze #{{base01-hex}};
@define-color theme_titlebar_background_light_breeze #{{base01-hex}};
@define-color theme_titlebar_foreground_backdrop_breeze #{{base04-hex}};
@define-color theme_titlebar_foreground_breeze #{{base05-hex}};
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #{{base04-hex}};
@define-color theme_titlebar_foreground_insensitive_breeze #{{base04-hex}};
@define-color theme_unfocused_base_color_breeze #{{base00-hex}};
@define-color theme_unfocused_bg_color_breeze #{{base01-hex}};
@define-color theme_unfocused_fg_color_breeze #{{base04-hex}};
@define-color theme_unfocused_selected_bg_color_alt_breeze #{{base02-hex}};
@define-color theme_unfocused_selected_bg_color_breeze #{{base02-hex}};
@define-color theme_unfocused_selected_fg_color_breeze #{{base05-hex}};
@define-color theme_unfocused_text_color_breeze #{{base04-hex}};
@define-color theme_unfocused_view_bg_color_breeze #{{base00-hex}};
@define-color theme_unfocused_view_text_color_breeze #{{base03-hex}};
@define-color theme_view_active_decoration_color_breeze #{{base0D-hex}};
@define-color theme_view_hover_decoration_color_breeze #{{base0D-hex}};
@define-color tooltip_background_breeze #{{base01-hex}};
@define-color tooltip_border_breeze #{{base02-hex}};
@define-color tooltip_text_breeze #{{base05-hex}};
@define-color unfocused_borders_breeze #{{base02-hex}};
@define-color unfocused_insensitive_borders_breeze #{{base02-hex}};
@define-color warning_color_backdrop_breeze #{{base0A-hex}};
@define-color warning_color_breeze #{{base0A-hex}};
@define-color warning_color_insensitive_backdrop_breeze #{{base03-hex}};
@define-color warning_color_insensitive_breeze #{{base03-hex}};
