foreground #{{base05-hex}}
background #{{base00-hex}}
selection_foreground #{{base00-hex}}
selection_background #{{base05-hex}}
cursor #{{base05-hex}}
cursor_text_color #{{base00-hex}}
url_color #{{base0D-hex}}

active_tab_foreground #{{base00-hex}}
active_tab_background #{{base0D-hex}}
inactive_tab_foreground #{{base05-hex}}
inactive_tab_background #{{base01-hex}}

active_border_color #{{base0D-hex}}
inactive_border_color #{{base03-hex}}
bell_border_color #{{base0A-hex}}

wayland_titlebar_color #{{base00-hex}}

color0  #{{base02-hex}}
color1  #{{base08-hex}}
color2  #{{base0B-hex}}
color3  #{{base0A-hex}}
color4  #{{base0D-hex}}
color5  #{{base0E-hex}}
color6  #{{base0C-hex}}
color7  #{{base06-hex}}
color8  #{{base03-hex}}
color9  #{{base08-hex}}
color10 #{{base0B-hex}}
color11 #{{base0A-hex}}
color12 #{{base0D-hex}}
color13 #{{base0E-hex}}
color14 #{{base0C-hex}}
color15 #{{base04-hex}}

mark1_foreground #{{base00-hex}}
mark1_background #{{base0D-hex}}
mark2_foreground #{{base00-hex}}
mark2_background #{{base0E-hex}}
mark3_foreground #{{base00-hex}}
mark3_background #{{base0C-hex}}
