[Base]
main = {{base00-hex}}
sidebar = {{base01-hex}}
player = {{base01-hex}}
card = {{base02-hex}}
shadow = {{base00-hex}}
selected-row = {{base02-hex}}
button = {{base0D-hex}}
button-active = {{base0D-hex}}
button-disabled = {{base03-hex}}
text = {{base05-hex}}
subtext = {{base04-hex}}
main-elevated = {{base01-hex}}
notification = {{base0B-hex}}
notification-error = {{base08-hex}}
tab-active = {{base0D-hex}}
misc = {{base03-hex}}
