[base16]
accent             = {{base0D-hex}}
accent-active      = {{base0D-hex}}
accent-inactive    = {{base01-hex}}
banner             = {{base0D-hex}}
border-active      = {{base0D-hex}}
border-inactive    = {{base03-hex}}
header             = {{base03-hex}}
highlight          = {{base02-hex}}
main               = {{base00-hex}}
notification       = {{base0B-hex}}
notification-error = {{base08-hex}}
subtext            = {{base04-hex}}
text               = {{base05-hex}}
