ignore-empty-password
show-failed-attempts

image=~/Pictures/Wallpapers/Cloudy_Quasar_1-Catppuccin_Macchiato.png
scaling=fill
font=GeistMono Nerd Font
font-size=14

indicator-radius=120
indicator-thickness=8
indicator-caps-lock

inside-color={{base00-hex}}
inside-clear-color={{base00-hex}}
inside-caps-lock-color={{base00-hex}}
inside-ver-color={{base00-hex}}
inside-wrong-color={{base00-hex}}

ring-color={{base03-hex}}
ring-clear-color={{base09-hex}}
ring-caps-lock-color={{base0A-hex}}
ring-ver-color={{base0D-hex}}
ring-wrong-color={{base08-hex}}

key-hl-color={{base0D-hex}}
bs-hl-color={{base09-hex}}
caps-lock-key-hl-color={{base0A-hex}}
caps-lock-bs-hl-color={{base09-hex}}

line-color=00000000
line-clear-color=00000000
line-caps-lock-color=00000000
line-ver-color=00000000
line-wrong-color=00000000

separator-color=00000000

text-color={{base05-hex}}
text-clear-color={{base09-hex}}
text-caps-lock-color={{base0A-hex}}
text-ver-color={{base0D-hex}}
text-wrong-color={{base08-hex}}
