configuration {
    show-icons: true;
    icon-theme: "Papirus-Dark";
    font: "GeistMono Nerd Font 10";
    display-drun: "";
    drun-display-format: "{name}";
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "/dev/null"
@import "/home/void/dotfiles/rofi/colors.rasi"

* {
    background-color: transparent;
    text-color: @fg;
}

window {
    width: 500px;
    background-color: @bg;
    border: 2px;
    border-color: @accent;
    border-radius: 8px;
    padding: 6px;
}

mainbox {
    background-color: @bg;
}

inputbar {
    children: [entry];
    background-color: @bg;
    padding: 0px;
}

entry {
    background-color: @bg-alt;
    text-color: @fg;
    padding: 10px 12px;
    border-radius: 4px;
    placeholder: "Search...";
    placeholder-color: @fg-alt;
}

listview {
    columns: 1;
    lines: 8;
    background-color: @bg;
    padding: 8px 0 0 0;
}

element {
    padding: 10px 6px;
    background-color: @bg;
    text-color: @fg;
    border-radius: 4px;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    margin: 0 0 0 12px;
    vertical-align: 0.5;
}

element-icon {
    background-color: inherit;
    size: 32px;
}

element selected {
    background-color: @bg-alt;
    text-color: @accent;
}
