@theme "/dev/null"
@import "/home/void/dotfiles/rofi/powermenu-colors.rasi"

* {
    background-color: transparent;
    text-color: @fg;
}

window {
    width: 300px;
    background-color: @bg;
    border: 2px;
    border-color: @accent;
    border-radius: 8px;
    padding: 20px;
}

mainbox {
    background-color: @bg;
}

inputbar {
    enabled: false;
}

listview {
    columns: 1;
    lines: 4;
    background-color: @bg;
    padding: 0;
    spacing: 4px;
}

element {
    padding: 10px 12px;
    background-color: @bg;
    text-color: @fg;
    border-radius: 4px;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    font: "GeistMono Nerd Font 11";
}

element selected {
    background-color: @bg-alt;
    text-color: @accent;
}
