@import "/home/void/dotfiles/waybar/colors.css";

* {
    font-family: "GeistMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @base05;
}

.modules-left,
.modules-center,
.modules-right {
    background: alpha(@base01, 0.8);
    border: 2px solid @base02;
    border-radius: 0;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 6px;
    color: @base03;
    border: none;
    border-radius: 0;
    background: transparent;
}

#workspaces button.focused {
    color: @base0D;
}

#workspaces button.urgent {
    color: @base08;
}

#mode {
    color: @base00;
    background: @base09;
    padding: 0 8px;
    border-radius: 4px;
}

#custom-media {
    padding: 0 10px;
}

#custom-media.spotify {
    color: @base0B;
}

#custom-media.youtube {
    color: @base08;
}

#custom-media.browser {
    color: @base09;
}

#custom-media.stremio {
    color: @base0D;
}

#custom-media.other {
    color: @base0E;
}

#custom-media.none {
    color: transparent;
}

#clock,
#network,
#bluetooth,
#cpu,
#memory,
#disk,
#battery {
    padding: 0 10px;
}

#battery.charging {
    color: @base0B;
}

#battery.critical:not(.charging) {
    color: @base08;
}
